* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1296px;
    margin: 0 50px;
}

body {
    font-family: sans-serif;
    font-family:  'Quicksand' ;
}
    
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
    
.header_logo{
        font-size: 32px;
        font-weight: 700;
        color: black;
        margin-left: 36px;
}

.header_button{
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: #0F8277;
        border-radius: 4px;
        border: none;
        padding: 10px 12px;
        margin-left: 44px;
      
}

span::after{
    content: '';
    transform: rotate(135deg);
    width: 8px;
    height: 4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    /* border: 2px;
    top: 8px; */

}

.header_submit{
        font-size: 16px;
        font-weight: 500;
        padding-right: 72px;
       
    
    margin-left: 44px;
}

.header_submit-search{
    padding: 10px;
    background-color: #0F8277;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
}

.header_text{
    font-size: 16px;
    font-weight: 500;

    display: flex;
    margin-left: 112px;
   align-items: center;
}

.training{
    margin-left: 48px;
}

.header_LogIn{
    padding: 10px 12px;
    background-color: white;
    color: #0F8277;


    margin-left: 104px;
}

.header_SingUp{
    padding: 10px 12px;
    background-color: #0F8277;
    color: white;
    border-radius: 4px;

    margin-left: 16px;
}

.content{
    display: flex;

    margin: 31px 36px 80px 36px;
    background-color: #DBF3ED;
    border-radius: 12px;
}

.content_info{
    margin-top: 170px;
    margin-left: 110px;
}

.content_info-text{
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    margin-right: 94px;
    margin-bottom: 32px;
}

.content_info-text_item{
            font-size: 22px;
            font-weight: 600;
            line-height: 26.4px;
            text-align: left;

        margin-right: 124px;
        margin-bottom: 32px;
}

.button{
    display: flex;
    gap: 24px;
    

        font-size: 16px;
        font-weight: 700;
}

.button_start{
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;
    color: white;
}

.button_learn{
    padding: 10px 12px;
    border-radius: 4px;
    color: #0F8277;
    background-color: white;
}

.image{
    margin-top: 39px;
    margin-right: 54px;
    margin-bottom: 30px;
}

/* Блок 2 */

.academic_content{
    display: flex;  
}

.academic_title{
        font-size: 20px;
        font-weight: 700;
        color: #0F8277;
        margin-bottom: 12px;
}

.academic_title-choose{
        font-size: 40px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 12px;
}

.academic_title-text{
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 40px;
}

.academic_content-education{
    background-color: white;
    border: 1px solid #DADADA;
    border-radius: 8px;
    margin-right: 24px;
}

.academic_content-education_image{
    width: 416px;
    height: 270px;

    margin-bottom: 24px;
}

.academic_company{
        font-size: 16px;
        font-weight: 500;
        color: #000000;

        margin-bottom: 16px;
            margin-left: 16px;
}

.academic_company-title{
        font-size: 24px;
        font-weight: 700;
        color: #000000;

        margin-bottom: 77px;
            margin-left: 16px;
}


.academic_diploma{
        font-size: 16px;
        font-weight: 500;
        color: #0F8277;
}

.academic_bottom-hat{
    margin-left: 16px;
   

}

.academic_bottom-hat_diploma{
    color: #0F8277;
    
}

.academic_content-education_logo{
    margin-left: 16px;
}

/* Блок 3 */

.studies{
    margin-top: 80px;
}

.studies_title{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
       
        color: #0F8277;

        margin-bottom: 12px;

}

.studies_title-text{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
       
        color: #000000;

        margin-bottom: 12px;
}

.studies_title-text-item{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    
        color: #000000;

        margin-bottom: 40px;
}

.studies_courses{
    display: flex;
    gap: 24px;
}

.studies_more-courses_arrow{
    margin-left: 16px;
}



.studies_courses-IT{
    background-color: white;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.studies_courses-IT_img{
    width: 306px;
    height: 270px;

    margin-bottom: 24px;
}

.studies_company{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;

        margin-bottom: 20px;
        margin-left: 16px;
       
}

.studies_company-program{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;

        margin-bottom: 86px;
        margin-left: 16px;
    
}

.studies_course{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        
        color:  #0F8277;

        margin-left: 16px;
}

.studies_courses-IT-logo{
    margin-left: 16px;
}

.studies_more{
    margin-top: 40px;

    display: flex;
    justify-content: center;

        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
       
        color: #0F8277;

}

/* Блок 4 */

.program{
    margin-top: 80px;
}

.program_title{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: #000000;

        margin-bottom: 40px;
}

.program_title-featured{
    display: flex;
    gap: 165px;

}


.program_title-featured_list-category_specialty{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        
        color: #000000;

        margin-bottom: 32px;
}

.program_title-featured_list-category_specialty-item_distribution{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        
        color: #0F8277;

        margin-bottom: 10px;
}

.program_title-eatured_list-category_specialty-item_distribution-students{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        
        color: #000000;

        margin-bottom: 32px;
}

/* Блок 5 */

.cooperate{
    background-color: #DBF3ED;
}

.cooperate_universities{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        
        color: #000000;

        margin-left: 248px;
        margin-right: 248px;
        margin-bottom: 60px;
        margin-top: 80px;
      
}

.cooperate_universities-universities{
    display: flex;
    gap: 35px;
}

.cooperate_universities-universities_image{
    margin-bottom: 80px;
}

/* Блок 6 */

.business{
    margin-top: 80px;
    margin-bottom: 80px;

    display: flex;
}

.business_solution-title{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        
        color: #000000;

        margin-bottom: 32px;
       margin-right: 120px;
}

.business_solution-title_item{
        font-size: 22px;
        font-weight: 600;
        line-height: 26.4px;
        
        color: #000000;

        margin-bottom: 32px;
        margin-right: 140px;
}

.business_solution-title_item-button{
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;

        color: white;

        background-color: #0F8277;

        padding: 10px 12px;
        border-radius: 4px;
        border: none;
}

.business_partners{

}

.business_partners-Loreal{
    padding: 55px 23px;

    border-bottom: 1px solid #BABABA;

}

.business_partners-PG{
    border-left: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    padding: 37px 67px;

}

.business_partners-Reliance{
    padding: 28px 43px;

    border-bottom: 1px solid #BABABA;

}

.business_partners-Danone{
    padding: 44px 23px;

    border-bottom: 1px solid #BABABA;

}

.business_partners-TVTV{
    border-left: 1px solid #BABABA;
        border-right: 1px solid #BABABA;
        border-bottom: 1px solid #BABABA;
    padding: 39px 66px;

}

.business_partners-Emirates{
    padding: 47px 22px;

    border-bottom: 1px solid #BABABA;

}

.business_partners-Capgemini{
    padding: 51px 23px;

}

.business_partners-H{
    border-left: 1px solid #BABABA;
        border-right: 1px solid #BABABA;

    padding: 38px 67px;

}

.business_partners-Petrobras{
    padding: 53px 23px;

}

/* Блок 7 */

.choose{
    background-color: #DBF3ED;
}

.choose_plan{
    
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;

        margin-left: 235px;
        margin-bottom: 40px;
        
        color: #000000;
}

.choose_plan-training{
    display: flex;
    gap: 24px;
    margin-left: 36px;
    margin-right: 36px;
}

.choose_plan-training_period{
    border: 1px solid #0F8277;
    border-radius: 24px;

    width: 416px;

    margin-bottom: 100px;
}

.bcg-green{
    background-color: #0F8277;
}

.white{
    color: white;
}

.choose_plan-training_period-one{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;

        color: #000000;
        margin: 56px 56px 27px 56px;
}

.choose_plan-training_period-one_text{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;

        margin-left: 56px ;
        margin-right: 56px;
        margin-bottom: 27px;

        color: #000000;
}

.choose_plan-training_period-one_text-price{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;

        color: #000000;

        margin-left:140px ;
}

span {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.choose_plan-training_period-button_one,
.choose_plan-training_period-button_two,
.choose_plan-training_period-button_three{
    padding: 10px 12px;
    background-color: #0F8277;
    border: none;
    border-radius: 4px;
    color: white;

   margin-left: 148px;
   margin-bottom: 48px;

border-bottom: 1px solid #0F8277;
}

.choose_plan-training_period-button_one{
margin-top: 75px;
}

.choose_plan-training_period-button_two{
 margin-top: 27px;
}

.choose_plan-training_period-button_three{
margin-top: 46px;
}

.green{
    border: 1px solid white;
}

.border_green{
    border-top: 1px solid white;
}

.choose_plan-training_list-item{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        
        color: #000000;

        margin-left: 16px;
        margin-top: 48px;
    
        padding-bottom: 16px;
}




.choose_plan-training_list{
border-top: 1px solid #0F8277;

margin-bottom: 56px;

width: 304px;
margin-left: 56px;



}


/* Блок 8 */


.photos_text{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        
        margin-left: 462px;
        margin-top: 80px;
        margin-bottom: 40px;
}

.photos_students{
   display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-areas:
"one two two three"
"four two two five"
"six seven eight nine";
gap: 24px;
}

.photos_students img{
    width: 100%;
}

.photos_students-one{
    grid-area: one; 
}

.photos_students-two{
    grid-area: two;
}

.photos_students-three{
    grid-area: three;
}

.photos_students-four{
    grid-area: four;
}

.photos_students-five{
    grid-area: five;
}

.photos_students-six{
    grid-area: six;
}

.photos_students-seven{
    grid-area: seven;
}

.photos_students-eight{
    grid-area: eight;
}

.photos_students-nine{
    grid-area: nine;
}

/* Блок 9 */



.form_fon{
    min-width: 640px;
    
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    
        z-index: -1;

        position: absolute;
        margin-top: 5627px;
}


.hero_form-filling{
    background-color: #DBF3ED;
    width: 565px;
    border-radius: 24px;

    position: relative;

    margin-top: 65px;
    margin-left: 401px;
}

.hero_form-filling_contact{
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-left: 180px;

        margin-top: 30px;
        
}

.hero_form-filling_contact-text{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        margin-left: 30px;
        margin-right: 30px;
        margin-top: 24px;
        margin-bottom: 24px;


}



.form-item{
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;

      
        
        
}



.form_text{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; 

        margin-right: 30px;
        margin-bottom: 24px;
        margin-left: 30px;

     
        padding: 12px;

        border: 1px solid #0F8277;

        width: 505px;
}

.Message{
    height: 104px;
}



.form_button{
    padding: 10px 12px;
    background-color: #0F8277;
    border: none;
    border-radius: 4px;
    color: white;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Footer */

.footer{
    margin-top: 200px;
    
    
}

.footer_content{
    display: flex;
}

.footer_content-text{
    margin-left: 36px;
    margin-right: 684px;
}

.footer_content-text_logo{
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;    
}

.footer_content-text_logo-item{
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        
}


span {
    content: "\00A9";
    
}


