* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1400px;
    margin: 0;
}

body {
    font-family: 'Ubuntu' sans-serif;

}

.list {
    width: 635px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.list__item {
    display: inline-block;
    margin-right: 70px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: black;
    margin-top: 32px;

}

.no-margin {
    margin-right: 0;
}


.fon {
    width: 100%;
    height: 552px;
    background: #00BDC9;
    text-align: center;
    padding-top: 98px;
}

.img {
    width: 599px;
    height: 368px;
    top: 92px;
    left: 401px;

}

.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
    text-align: center;
    padding-top: 88px;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.container_information{
    width: 856px;
    margin: 0 auto;
    text-align: center;
}


span {
    color: #04959E;
    font-weight: 600;
    text-align: center;

}

.title_item {
    padding-bottom: 24px;
    font-size: 21px;
    font-weight: 500;
    line-height: 31px;
    text-align: left;
}

.title_item_list {

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.custom_button {
    padding: 10px 24px 10px 24px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-color: #04959E;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

.footer_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: black;
    margin-top: 40px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
    text-align: center;
    margin: 0 auto ;
}