* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

/* Title */
.title{
    font-size: 80px;
    font-weight: 400;
    line-height: 93px;
        
}
span{
    color: #4BCAFF;
}

/* Menu */


.menu_list{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 49px;
   padding-left: 40px; 
   background-color: #35444F;
   color: #FFFFFF;
   padding: 22px;
   list-style: none;
   
}

.menu_list-item{
    font-size: 24px;
    line-height: 28px;
    padding: 40px ;
   
}






/* Column */

.column_list{
    font-size: 27px;
    line-height: 27px;
    text-align: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding:  26px 44px;
    border: 1px solid black;
    width: 344px;
    color: #495863;
}

.column_list-item{
    padding-bottom: 52px;
    border: none; 
}







.no-pading{
    padding-bottom: 0;
}

/* Content Info */


.content{
    display: flex;
}

.content_info{
   margin-left: 52px;
}

.content_info-img{
    border: 1px solid black;
    text-align: center;
    padding: 74px 282px;
    margin-bottom: 37px;
}

.content_info-text{
    padding-bottom: 13px;
}




/* Fototer */

.footer_text{
    display: flex;
    justify-content:space-between ;
    background-color: #63696E7A;
    list-style: none;
    margin-top: 51px;
}



.footer_text-list{
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    padding: 20px 40px;
}

.item{
        font-size: 24px;
        line-height: 24px; 
}