* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #EBE8F4;
  
   
}

.header_logo{
        font-size: 24px;
        font-weight: 400;
        line-height: 29.26px;
        text-align: left;
        color: #22202E;

        padding-bottom: 26px;
        margin-left: 80px;
   
}

.menu_list{
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        text-align: left;
        color: #726E8D;
        padding-left: 44px;
        padding-bottom: 29px;

        /* margin-top: 29px; */

    display: flex;
    
}

.menu_list-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

    padding-left: 44px;
}

.panel{
    padding-bottom: 34px;
    margin-right: 80px;
}


.panel_icon{
    /* margin-right: 281px; */
    padding-left: 16px;

}

.select{
    display: flex;
}


.products{
    
        font-size: 36px;
        font-weight: 400;
        line-height: 50.4px;
        text-align: center;
        color: #2A254B;

        padding-top: 80px;
        margin-bottom: 44px;
}



.select_list{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;

        padding-right: 40px;
        display: flex;
    /* margin-right: 48px; */
        margin-left: 417px;
/* margin-left: 104px; */
}

.select_list-item{
        font-size: 16px;
        line-height: 24px;
        border: none;
}



.select_menu{
        font-size: 16px;
        /* font-weight: 400; */
        line-height: 24px;
        text-align: left;
        padding-left: 12px;

        border: none;
    /* margin-right: 84px; */
  
}



.chose{
    margin-left: 128px;
    display: flex;
}

.grit{
    margin-top: 28px;
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.content{
    align-items: center;
}


.content_text{
        font-size: 20px;
        /* font-weight: 400; */
        line-height: 28px;
        /* text-align: left; */
        margin-top: 24px;
}

.content_price{
        font-size: 18px;
        /* font-weight: 400; */
        line-height: 27px;
        /* text-align: left; */
        margin-bottom: 8px;
    
}

.button{
    margin-top: 48px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.button_view{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        
        padding: 16px 32px 16px 32px;
        background-color: #F9F9F9;
        border: none;
        margin: auto;
}

.join{
    display: flex;
}

.join_text-title{
        font-size: 32px;
        font-weight: 400;
        line-height: 39.01px;
        
        margin-top: 71px;
        margin-bottom: 21px;
        margin-left: 49px;
}



.join_text-title_item{
    
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
     

        margin-left: 49px;
        margin-bottom: 216px;
        
}

.join_button{
    padding: 16px 32px;
    border: none;
    background-color: #2A254B;
    color: #FFFFFF;
    margin-left: 72px;
}

.footer{
    background-color: #2A254B;
  
}

.footer_content{
    /* background-color: #2A254B; */
    color: #FFFFFF;
    display: flex;
    min-height: 380px;
}

span{
    
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
}



.footer_content{
    padding-left: 82px;
    
    
   
}

.footer_list{
    
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;

        padding-right: 100px;
        
        padding-top: 58px;

        /* border-bottom: 1px solid #4E4D93; */
        margin-bottom: 68px;

        }
        

.footer_content-img{
    padding-top: 60px;
    /* border-bottom: 1px solid #4E4D93; */
    margin-bottom: 68px;  
    margin-left: 93px;
}

.copyright_text{
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
        color: #FFFFFF;
        /* margin-left: 80px; */
      
}

.footer_next{

    border-top: 1px solid #4E4D93;
    display: flex;
    justify-content: space-between;
    /* padding-right: 83px; */
    padding-top: 22px;
    padding-bottom: 22px;
    width: 1277px;
}

