* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1366px;
    margin: 0 ;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.header{
    display: flex;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 58px;
}

.header_logo{
    padding-top: 18px;
    padding-left: 79px;

    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;

    padding-right: 750px;
}

.header_logo:hover{
    color: #01813F;
}

span:hover{
   color:  #01813F;
}

.header_logo-icons{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.header_logo-icons_img{
    width: 23px;
    height: 23px;
   
    margin-right: 25px;
}



.header_logo-text{
    align-items: center;
    
     font-size: 14px;
     font-weight: 400;
     line-height: 14px;
     color: #FFFFFF;

    border-left: 1px solid #FFFFFF90;
    padding-left: 27px;
}

.header_logo-text_SignUp{
    color: #FFFFFF;
    padding-left: 3px;
    
        font-size: 14px;
        font-weight: 400;
       
}

.image_background{
        min-width: 640px;
       
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        
        z-index: -1;
}

.border{
    border: none ;
}

.margin{
    margin-right: 79px;
}

.form_title{
   padding-top: 85px;
}

.hero{
    background-color: #ffffff;
   margin-left: 461px;
   margin-top: 54px;
   width: 444px;
}

.hero_title{
    display: flex;
}

.hero_title-text{
    margin-top: 31px;
    margin-left: 60px;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;   
}


.hero_title-text_LogIn{
    margin-left: 216px;
}

.green{
    margin-top: 33px;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #3cb878;
}

.social{
    display: flex;
    margin-left: 60px;
}

.social_media{
    display: flex;
    justify-content: space-between;
    
    background-color: #305DB8;

    margin-top: 15px;
    border-radius: 4px;
    margin-right: 4px;
}

.social_media:hover{
    background-color: #022263;
}

.social_media-facebook {
    border-right: 1px solid #0A162F10;
    padding-right: 13px;
    margin: 12px 13px 12px 11px; 
    width: 100%;
}

.social_media-facebook_text{
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: #FFFFFF;

        padding: 17px 22px 17px 18px;
}



.social_media-google{
    border-right: 1px solid #2B0D0910;
    padding-right: 7px;
    margin: 15px 7px 14px 12px;
    width: 100%;
}


.social_media-google_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #ffffff;

    padding: 17px 27px 17px 30px;
}

.no_margin{
    margin: none;
}

.social_media-text_item{
 margin-left: 215px;
 margin-top: 31px;
}

.google{
    background-color: #DF4A32;
    margin: none;
}
.google:hover{
background-color: #AB1F09;
}
.title{
    position: absolute;
}

/* 
.create-line {
    width: 152px;
    border-top: 3px solid #32a1ce;
    margin-top: 40px;
    margin-left: 58px;
  
} */

.form{
display: flex;
flex-direction: column;
}

.form_label{

}



.form_text{
    padding: 15px 167px 15px 19px;
    margin:  5px 61px 16px 61px;
    border: 1px solid #F2F2F2;

    border-radius: 4px;

    
}

.form_terms{
    margin-left: 62px;
   
}

.form_terms-text{
    margin-left: 90px;
   
}

.button{
    padding: 16px 99px;
    background-color: #3CB878CC;
    border: none;
    border-radius: 4px;

        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: #FFFFFF;

        margin: 20px 60px 38px 60px;
}

.Jason{
    box-shadow: 0px 3px 8px 0px #00000036;
}


.button:hover{
    background-color: #01813F;
}