* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 1400px;
    margin: 0 50px;
   
   
}

body {
    font-family: sans-serif;
    background-color: #eeeeef;
}

.header{
    background-color: #10BBD5;
    height: 72px;

    /* position: fixed; */
       
 
   

    position: fixed;
        top: 0;
        z-index: 100;
        width: 1400px;
}



.header_content{
    display: flex;
    justify-content: space-between;
   
}

.header_content-logo{
    /* padding-top: 21px; */
    /* padding-top: 10px; */
    margin-left: 52px;
    
}


.header_content-price{
    display: flex;
    margin-right: 52px;
}

.header_content-price_total{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #F8FDFE;

    margin-top: 24px;
}

.header_content-price_backet{
    margin-top: 16px;
    
}
  
.menu{
    background-color: #ffffff;
    /* изменить на белый */
   margin-left: 0px;
  
}

.menu_content{
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
   
   
}

.menu_content-text{
    margin-left: 52px;
}

.menu_content-item{
    display: flex;

   
}

.menu_content-item_list{
    
    padding-left: 40px;
}

.margin{
    margin-right: 52px;
}

/* .bestsellers{
    background-color: #eeeeef;
} */

.title_text{
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;

        margin-left: 52px;
        margin-top: 32px;
        
        margin-right: 52px;
        border-bottom: 1px solid #A8A8A8;
        padding-bottom: 23px;

}

.bestsellers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 24px;
    width: 1296px;

    /* width: 306px ;
    height: 512px ; */
}

.bestsellers_books{
    background-color: white;
    /* padding: 32px 64px 16px 64px; */
   
    /* width: 306px;
        height: 512px; */
}

.bestsellers_books-img{
    /* width: 178px ;
    height: 280px ; */
    width: 100%;
    padding: 32px 64px 16px 64px;
   
}

.bestsellers_books-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: #1F1F1F;

        margin-left: 32px;
        
       

        border-bottom: 1px solid #A8A8A8;
       

}

.bestsellers_books-title_writer{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #8E8E8E;


        margin-left: 32px;
        margin-bottom: 8px;
      

}

.bestsellers_books-price{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;

        margin-left: 32px;
        
        display: inline;

    


        color: #E90000;


}

.gray{
    color: #8E8E8E;
    text-decoration: line-through;
}

.button{

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        
    background-color: #4C394E;
    color: #F8FDFE;
   padding: 8px 24px 8px 24px;
   margin: 16px 32px 32px 32px;
   border-radius: 4px;
   border: none;
   
}

.green{
    background-color: #4D762D;
    display: block;
}



.footer{
    background-color: #4C394E;
    height: 88px;
    margin-top: 120px;

}

span {
    content: "\00A9";
    color: #F8FDFE;


        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 52px;
        
}

.footer_unicode{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.footer_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
    color: #F8FDFE;
    margin-right: 52px;
}

.bestsellers_books{
    position: relative;
}

.bestsellers_item{
    position: absolute;
       padding: 4px 8px 4px 8px;
       border-radius: 4px;
       text-align: center;

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #F8FDFE;
       
        background-color: #4200FF;

}

.bestsellers_books:nth-child(1) .bestsellers_item{
    top: 32px;
    
        transform: translateX(90%);
}

.bestsellers_books:nth-child(2) .bestsellers_item {
    top: 32px;
   
    transform: translateX(90%);
}


.bestsellers_books:nth-child(3) .bestsellers_item {
    top: 32px;
   
    transform: translateX(90%);
}

.bestsellers_books:nth-child(5) .bestsellers_item {
    top: 32px;
  
    transform: translateX(90%);
}

.bestsellers_books:nth-child(6) .bestsellers_item {
    top: 32px;
  
    transform: translateX(90%);
}

.bestsellers_books:nth-child(7) .bestsellers_item {
    top: 32px;
    
    transform: translateX(90%);
}

.bestsellers_books:nth-child(10) .bestsellers_item {
    top: 32px;
    
    transform: translateX(50%);
}

.bestsellers_books:nth-child(11) .bestsellers_item {
    top: 32px;
   
    transform: translateX(90%);
}



.purple{
background: #AF39E7;
}

.pink{
    background-color: #EA33C0;
}

.bestsellers_books-chat{
    background-color: #10BBD5;
    position: absolute;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    text-align: center;
   
   
   padding-top: 10px;
   right: -15px;
   top: 430px;
  
    transform: translateX(50%);
    transform: translateY(50%);
  
    /* position: fixed;
    
        z-index: 100; */
     
}

