*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.section_title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    margin-bottom: 28px;
}

.section_subtitle {
    text-align: center;
    font-size: 17px;
    line-height: 24px;

    margin-bottom: 48px;
}

/* color */

.primary-color {
    color: #F48E0B;
}

.hero{
    background-image: url(../image/background-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vb; */
    
    padding-top: 528px;
    padding-bottom: 145px;
}

.hero_title{
font-size: 48px;
font-weight: 700;
line-height: 58px;
color: white;
text-transform: uppercase;


margin-bottom: 16px;
}

.hero_subtitle{
    font-size: 18px;
    line-height: 21px;
    color: white;
   
    margin-bottom: 22px;
}

.hero_slogan{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    color: white;
    text-transform: uppercase;

    padding: 38px 31px;
    border: 1px solid white;
    border-color: white;
    
    background-color: rgba(0, 0, 0, 0.5);
    width: max-content;
}

.hero_slogan span {
    margin-right: 50px;

}


/* About Us */

.aboutUs{
    padding-top: 81px;
    padding-bottom: 81px;
}



.aboutUs_divider{
    width: 60px;
    height: 3px;
    background-color: #F48E0B;
    margin: 0 auto 50px;  
}

.aboutUs_menu-title{
    text-transform: uppercase;
    color: #F48E0B;
    font-weight: 700;
    font-size: 28px;

    display: inline-block;
    margin-right: 260px;
}

.aboutUs_menu-list{
    display: inline-block;
}

.aboutUs_menu{
    display: inline-block;
}

.aboutUs_menu-item{
    display: inline-block;
    margin-left: 69px;
}


.aboutUs_menu-link{
     font-size: 18px;
     line-height: 21px;
     color: #3D3D3D;
     text-transform: uppercase;

     transition: 0,5s;
}

.aboutUs_menu-link:hover{
    color: #F48E0B;
}

.info{
    margin-top: 150px;
}

.mb-1{
    margin-bottom: 107px;
}

.info_wrapper{
    display: flex;
    justify-content: space-between;
    
}

.info_portfolio{
    display: flex;
    width: calc(50% - 15px);
    flex-wrap: wrap;
    gap: 22px 30px;
  
   
}

.info_content{
    width: calc(50% - 15px)
}



/* goods */


.goods_list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    flex-direction: column;
    height: 770px;



}

.goods_list-item{
    width: 370px;
    border-bottom: 3px solid black;
}

.goods_list-img {
    margin-bottom: 7px;
    
}

.goods_list-img img{
    object-fit: cover;
}


.goods_list-wrapper{
    display: flex;
    align-items: center;
    column-gap: 8px;

    margin-bottom: 15px;
}


.goods_list-edit{
    width: 35px;
    height: 35px;
background-color: #333333;
background-image: url(../image/\ copy\ 2.png);
background-repeat: no-repeat;
background-position: center;

}

.goods_list-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.goods_list-description{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 14px;
}

.goods_list-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 11px;
    padding-bottom: 5px;

    border-bottom: 1px solid #c1c1c1;
}

.goods_list-date,
.goods_list-link{
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    color: #828282;
}

.good_list-link{
    text-decoration: none;
}


/* 13 may */


.gallery{
    margin-top: 150px;
    margin-bottom: 150px;
}

.gallery_list{
    display: flex;
    justify-content: center;
    column-gap: 14px;

    margin-bottom: 42px;
}

.gallery_list-item{
    padding: 14px 37px;
    border: 1px solid #333333;

    font-size: 14px;
    font-weight: 300;
    line-height: 14px;

    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.gallery_list-item:hover{
    background-color: #333;
    color: #f1ad1d;
}

.gallery_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.wrapper_item{
    position: relative;
}

.wrapper_item-hover{
    padding: 50px 13px 37px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid #333;
    background-color: #fff;
}

.wrapper_item-title{
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;

    margin-bottom: 25px;
}

.wrapper_item-divider{
    width: 64px;
    height: 3px;
    background-color: #f48e0b;
    margin-bottom: 28px;
    margin-inline: auto;
}

.wrapper_item-description{
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;

    margin-bottom: 27px;
}

.wrapper_item-link{
    padding: 12px ;
}








